<main class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="ui-card text-center mt-5 h-100 vh-75">
        <%= @days %>
        <h1>Please approve your payment</h1>
        <h2></h2>
        <%= link_to "Pay!", bookings_path, class: "ui-btn" %>
      </div>
    </div>
  </div>
</main>

